<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-usuarios">

  <template>
  <style include="shared-styles">
        :host {
          display: block;

          padding: 10px;
        }
        .wrapper-btns {
          margin-top: 15px;
        }
        paper-button.link {
          color: #757575;
        }
        .mensaje-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
        }
        input {
          position: relative; /* to make a stacking context */
          outline: none;
          box-shadow: none;
          margin: 0;
          padding: 0;
          width: 100%;
          max-width: 100%;
          background: transparent;
          border: none;
          color: var(--paper-input-container-input-color, var(--primary-text-color));
          -webkit-appearance: none;
          text-align: inherit;
          vertical-align: bottom;
          /* Firefox sets a min-width on the input, which can cause layout issues */
          min-width: 0;
          @apply --paper-font-subhead;
          @apply --paper-input-container-input;
        }
      </style>

    <iron-ajax
      id="hacerAlta"
      method="POST"
      content-type="application/json"
      handle-as="json"
      last-response="{{info}}"
      on-response="resultadoAlta"
      on-error="resultadoError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{datosUsuario}}"></iron-localstorage>
    <brum-global-variable key="datosUsuarioGlobal" value="{{datosUsuario}}"></brum-global-variable>

    <div class="card">
      <!-- El div que muestro cuando NO estoy autenticado -->
      <!-- <div id="contenidoSinLogin" hidden$="{{logado}}"> -->
      <div id="contenidoSinLogin" hidden$="[[datosUsuario.logado]]">
        <h1>Estimado usuario</h1>
        <p>Tenemos una infinidad de servicios extraordinarios que prestarle, desde la compra de PanitoCoins y cualquier otra pseudo-criptomoneda, a prestamos hipotecarios al 200% de interes,
           pasando por Diplomas de Corcho firmados por el mismísimo rector de la Universidad Rey Juan Carlos, una infinidad de servicios al alcance de un solo click. Proceda, no se arrepentirá...</p>
      <!-- El div que muestro cuando NO estoy autenticado -->
      </div>

      <!-- El div que muestro cuando SI estoy autenticado -->
      <!-- <div id="contenidoConLogin" hidden$="{{!logado}}"> -->
      <div id="contenidoConLogin" hidden$="[[!datosUsuario.logado]]">
        <h1>Bienvenido de nuevo, compañero!!</h1>
        <p>Si ya sabes lo que buscas, haz clic en el enlace adecuado.</p>
        <p>Si no fuera asi, llame al 906123456 y un asesor personalizado le sableará...</p>
      </div>
      <!-- El div que muestro cuando SI estoy autenticado -->
    </div> <!--  // Fin Div Class card -->


        <div class="card" hidden$="[[!datosUsuario.logado]]">
          <template is="dom-if" if="[[error]]">
            <p class="mensaje-error"><strong>Error: </strong>[[error]]</p>
          </template>

          <h1>Dar de Alta Usuario Nuevo</h1>
          <paper-input always-float-label id="formEmail" label="Email" type="email" value={{email::input}}></paper-input>
          <paper-input always-float-label id="formPassword" label="Password" type="password" value={{password::input}}></paper-input>
          <paper-input always-float-label id="formFirstName" label="Nombre" type="text" value={{first_name::input}}></paper-input>
          <paper-input always-float-label id="formLastName" label="Apellido" type="text" value={{last_name::input}}></paper-input>
          <paper-button raised on-tap="alta" class="primary">Dar Alta</paper-button>
          <br/>
          <!-- Respuesta: <div id="muestraResultado">[[user]]</div> -->
        </div> <!--  // Fin Div Class card -->
  </template>

  <script>
    class AltaUsuarios extends Polymer.Element {
      static get is() { return 'alta-usuarios'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          datosUsuario : {
            type: Object
          },
          error: String
        }
      };

      alta() {
          console.log("1. Boton pulsado: " + this.email +" "+ this.password)
          this.$.hacerAlta.url="http://miruta-myproject69.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/add"

          // Esto seria para enviar el body del alta
          this.$.hacerAlta.body = {
            "email":this.email,
            "password":this.password,
            "first_name":this.first_name,
            "last_name":this.last_name
          } // Esto seria para enviar el body del alta

          this.$.hacerAlta.generateRequest();
          console.log("2. Body enviadas: "+ this.$.hacerAlta.body)
      }

      resultadoAlta(resultado) {
        console.log("Login 4. Llegaron los resultados")
        console.log(resultado)
        alert("Usuario dado de alta correctamente")
        console.log("Login 5. Proceso los resultados")
        console.log(resultado.detail.response)

        //Parseamos la respuesta del JSON parameterla en variable global
        var response = JSON.parse(resultado.detail.response);

        console.log("Login 6. Los datos del usuario que hemos dado de alta son son:")
        console.log("Resultado: " + this.Resultado)
        console.log("email: " + this.email)
        console.log("password: " + this.password,) // Cualquiera de los dos es valido xo esto solo viene relleno cuando la respuesta del ajax-iron se maneja como JSON en text viene vacia (undefined)
        console.log("nombre: " + this.first_name) // Cualquiera de los dos es valido xo esto solo viene relleno cuando la respuesta del ajax-iron se maneja como JSON en text viene vacia (undefined)
        console.log("apellido: " + this.last_name)

        //alert(JSON.stringify(this.datosUsuario))
        //Ahora ademas redirijo a una pagina que requiera estar autenticado
        this.set('route.path', '/consultar-movimientos');
      }

      resultadoError(resultado) {
        console.log("4. Llega el error: " + resultado.detail.response)
        this.error = "Error: " + resultado.detail.request.xhr.response;
      }

    } // Fin Clase ALta

    window.customElements.define(AltaUsuarios.is, AltaUsuarios);
  </script>
</dom-module>
