<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="consultar-movimentos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
<!-- http://miruta-myproject69.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas -->
    <iron-ajax
      id="pedirMovimentos"
      url="http://miruta-myproject69.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/login"
      method="POST"
      handle-as="text"
      last-response="{{user}}">
    </iron-ajax>

    <div class="card">

      <!-- <input type="text" value={{text::input}} /> -->
      <!-- <input type="text" value={{text::input}} /> -->

      <!-- <h1>Movimientos</h1>
      Correo:
      <br/>
      <input type="email" value={{email::input}} />
      <br/>
      Clave de Acceso:
      <br/>
      <input type="password" value={{password::input}} />
      <br/> <br/> -->

      <input type="email" value={{email::input}} />
      <input type="password" value={{password::input}} />
      <paper-button raised on-tap="logar" class="primary">Buscar</paper-button>
      <br/> <br/>
      Respuesta: <div id="muestraResultado"><usuario>[[user]]</usuario></div>

    </div>

  </template>

  <script>
    class ConsultarMovimientos extends Polymer.Element {
      static get is() { return 'consultar-movimentos'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        }
      };

      logar() {
          this.$.pedirMovimentos.headers.email = this.email
          this.$.pedirMovimentos.headers.password = this.password
         //this.$.pedirMovimentos.headers = {"email":this.email, "password":this.password}
        // this.$.pedirMovimentos.headers = { "idcliente":"FR88 7506 1710 58JQ TVD5 UKBX W05" }

        //this.$.pedirMovimentos.headers = {"idcliente":201}

        // this.$.pedirMovimentos.headers.email = "pepe@mail.com"
        // this.$.pedirMovimentos.headers.password = "prueba"
        //this.$.pedirMovimentos.headers = {"email":"pepe@mail.com","password":"prueba"}

        console.log(this.$.pedirMovimentos.headers)
        this.$.pedirMovimentos.generateRequest();
      }
      resultadoLogin(resultado) {
        this.$.muestraResultado.user = resultado.detail.response.first_name;
      }
    }

    window.customElements.define(ConsultarMovimientos.is, ConsultarMovimientos);
  </script>
</dom-module>
