<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="consultar-movimentos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .mensaje-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{datosUsuario}}"></iron-localstorage>
    <brum-global-variable key="datosUsuarioGlobal" value="{{datosUsuario}}"></brum-global-variable>

    <iron-ajax
      auto
      id="recuperarCuentas"
      method="POST"
      handle-as="text"
      last-response="{{info}}"
      on-response="resultadoRecuperarCuentas"
      on-error="errorRecuperarCuentas">
    </iron-ajax>
    <!-- <iron-ajax
      id="recuperarCuentas"
      method="POST"
      handle-as="text"
      last-response="{{info}}"
      on-response="resultadoRecuperarCuentas"
      on-error="errorRecuperarCuentas">
    </iron-ajax> -->

    <div class="card">
      <!-- El div que muestro cuando NO estoy autenticado -->
      <!-- <div id="contenidoSinLogin" hidden$="{{logado}}"> -->
      <div id="contenidoSinLogin" hidden$="[[datosUsuario.logado]]">
        <h1>Estimado usuario [[datosUsuario.nombre]]</h1>
        <p>Tenemos una infinidad de servicios extraordinarios que prestarle, desde la compra de PanitoCoins y cualquier otra pseudo-criptomoneda, a prestamos hipotecarios al 200% de interes,
           pasando por Diplomas de Corcho firmados por el mismísimo rector de la Universidad Rey Juan Carlos, una infinidad de servicios al alcance de un solo click. Proceda, no se arrepentirá...</p>
      <!-- El div que muestro cuando NO estoy autenticado -->
      </div>

      <!-- El div que muestro cuando SI estoy autenticado -->
      <div id="contenidoConLogin" hidden$="[[!datosUsuario.logado]]">
        <paper-button raised on-tap="pedirCuentas" class="primary">Pedir Cuentas</paper-button>
        <h1>Listado de cuentas de <span class="saludo">[[datosUsuario.nombre]]</span></h1>
        <p>IDCliente: <span>[[datosUsuario.id]]</span></p>
        <p>Respuesta: <span style="text-color: red">{{info}}</span></p>
        </br>
        <template is="dom-repeat" items="{{cuentas}}">
          <span>{{item.IBAN}}</span>
        </template>

        <table class="table table-striped">
              <thead>
                <th>
                  Índice
                </th>
                <th>IBAN</th>
                <th>Enlace</th>
              </thead>
                <tbody>
                <template is="dom-repeat" items="{{cuentas}}">
                  <tr>
                    <td>{{index}}</td>
                    <td>{{item.IBAN}}</td>
                    <td><a class="btn btn-info" href="/movimientos/[[item.IBAN]]">Ver movimientos</a></td>
                  </tr>
                </template>
              </tbody>
            </table>
      </div>
      <!-- El div que muestro cuando SI estoy autenticado -->
    </div> <!--  // Fin Div Class card -->

    <div class="card">
      <template is="dom-if" if="[[error]]">
        <p class="mensaje-error"><strong>Error:</strong> [[error]]</p>
      </template>
    </div>  <!--  // Fin Div Class card -->

  </template>

  <script>
    class ConsultarMovimientos extends Polymer.Element {
      static get is() { return 'consultar-movimentos'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          cuentas: {
            type: Array,

            }
          }
      }

      pedirCuentas() {
          this.$.recuperarCuentas.url="http://miruta-banco-panito.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas"
          // this.$.recuperarCuentas.url="http://localhost:3000/apitechu/v5/cuentas"
          this.$.recuperarCuentas.headers.idcliente = this.datosUsuario.id
          this.$.recuperarCuentas.generateRequest();
          console.log("1. Headers enviadas: "+ this.$.recuperarCuentas.headers)
      }

      resultadoRecuperarCuentas(resultado) {
        console.log("Login 4. Llegaron los resultados")
        console.log(resultado)

        console.log("Login 5. Proceso los resultados")
        console.log(resultado.detail.response)

        // var response = JSON.parse(resultado.detail.response);
        // console.log("Login 5. Proceso los resultados")
        // console.log(response.detail.response)

        // console.log("Login 6. Llegaron los resultados")
        // console.log(response)
        // this.cuentas = response // Asi por lo menos me sale indice

        this.cuentas = resultado.detail.response // Asi me sale en blanco pero el dom-repeat lo encuentra
        // this.cuentas = response // Asi me sale en blanco pero el dom-repeat lo encuentra
      }

      errorRecuperarCuentas(errorpeticion) {
        console.log("4. Llega el error: " + errorpeticion)
        this.error = "Error" + errorpeticion.detail.request.xhr.response;
      }
    }

    window.customElements.define(ConsultarMovimientos.is, ConsultarMovimientos);
  </script>
</dom-module>
