<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="my-icons.html">


<link rel="lazy-import" href="alta-movimientos.html">
<link rel="lazy-import" href="alta-usuarios.html">
<link rel="lazy-import" href="consultar-movimentos.html">
<link rel="lazy-import" href="not-found.html">
<link rel="lazy-import" href="panito-login.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-header .saludo,
      app-header a {
        color: #8e0707;
        font-size: 14px;
      }

      app-header .saludo {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }

      app-header .botonrojo {
          background: red;
        }

        app-header .botonverde {
            background: green;
          }

          .agente {
            margin-top: 250px;
            margin-left: 45px;
          }
      }

    </style>

    <iron-localstorage name="user-storage" value="{{datosUsuario}}"></iron-localstorage>
    <brum-global-variable key="datosUsuarioGlobal" value="{{datosUsuario}}"></brum-global-variable>

    <iron-ajax
      auto
      id="pedirFoto"
      url='https://randomuser.me/api/?inc=picture'
      method="GET"
      handle-as="text"
      last-response="{{info}}"
      on-response="resultadoPedirFoto"
      on-error="resultadoErrorPedirFoto">
    </iron-ajax>


    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
            <div name="agenteAyuda" hidden$="[[datosUsuario.logado]]">
              <img src="{{foto}}" class="agente" alt="Agent">
            </br><span style="align-content: center";><strong>¿Puedo ayudarte?<strong></span>
           </div>
        </app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

          <div name="consultar-movimientos" hidden$="[[!datosUsuario.logado]]">
            <a href="[[rootPath]]consultar-movimientos">Consultar Movimientos</a>
          </div>

          <div name="alta-movimientos" hidden$="[[!datosUsuario.logado]]">
            <a href="[[rootPath]]alta-movimientos">Dar de alta movimentos</a>
          </div>

          <div name="alta-usuarios" hidden$="[[!datosUsuario.logado]]">
            <a href="[[rootPath]]alta-usuarios">Añadir Usuarios</a>
          </div>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <!-- Cabecera principal -->
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>
              <!-- Meto mi superlogo  -->
              <img src="images/bancoPanitoLogo.png" alt="Banco Panito" height="70" width="117">
            </div>

            <!-- Enlace para login -->
            <div hidden$="[[datosUsuario.logado]]">
              <!-- <a class="botonverde" name="panito-login" href="[[rootPath]]panito-login">Login</a> -->
              <paper-button raised on-tap=logarse class="botonverde">Login!</paper-button>
            </div>

            <!-- Metemos un boton para deslogarnos en la cabecera, lo suyo es llamar a otra pagina de logoutpero estoy vago y tengo sueño -->
            <div hidden$="[[!datosUsuario.logado]]">
              <span class="saludo">Hoooola [[datosUsuario.nombre]]!</span>
              <paper-button raised on-tap=pirarse class="botonRojo">Logout!</paper-button>
            </div>

          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <consultar-movimentos name="consultar-movimientos"></consultar-movimentos>
          <alta-movimientos name="alta-movimientos"></alta-movimientos>
          <alta-usuarios name="alta-usuarios"></alta-usuarios>
          <panito-login name="panito-login"></panito-login>
          <not-found name="not-found"></not-found>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

 </header>
  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          datosUsuario : {
            type: Object
          },
          foto: String



        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'panito-login';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }

      pirarse() {
        //Anulo cookie y redirijo al origen
        this.datosUsuario = null;
        this.set('route.path', '/');
      }

      logarse() {
        this.set('route.path', '/');
      }

      resultadoPedirFoto(resultado) {
        //Parseamos la respuesta del JSON parameterla en variable global
        var response = JSON.parse(resultado.detail.response);
        console.log("Login 4. Llegaron los resultados de la foto")
        console.log(response.results[0].picture.large)
        this.foto = response.results[0].picture.large
      }

      errorPedirFoto(resultado) {
        console.log("4. Llega el error: " + resultado.detail.response)
        this.error = "Error: " + resultado.detail.request.xhr.response;
      }



    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
